@import "tailwindcss";

/* https://tweakcn.com/editor/theme */

:root {
  --background: oklch(0.97 0.01 286.15);
  --foreground: oklch(0.3 0.06 282.42);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.3 0.06 282.42);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.3 0.06 282.42);
  --primary: oklch(0.45 0.29 264.27);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.92 0.04 292.69);
  --secondary-foreground: oklch(0.41 0.1 288.17);
  --muted: oklch(0.96 0.01 286.15);
  --muted-foreground: oklch(0.54 0.05 284.74);
  --accent: oklch(0.92 0.04 262.14);
  --accent-foreground: oklch(0.3 0.06 282.42);
  --destructive: oklch(0.69 0.21 14.99);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.91 0.02 285.96);
  --input: oklch(0.91 0.02 285.96);
  --ring: oklch(0.54 0.18 288.03);
  --chart-1: oklch(0.54 0.18 288.03);
  --chart-2: oklch(0.7 0.16 288.99);
  --chart-3: oklch(0.57 0.21 276.71);
  --chart-4: oklch(0.64 0.19 281.81);
  --chart-5: oklch(0.45 0.18 279.38);
  --sidebar: oklch(0.96 0.01 286.15);
  --sidebar-foreground: oklch(0.3 0.06 282.42);
  --sidebar-primary: oklch(0.54 0.18 288.03);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.92 0.04 262.14);
  --sidebar-accent-foreground: oklch(0.3 0.06 282.42);
  --sidebar-border: oklch(0.91 0.02 285.96);
  --sidebar-ring: oklch(0.54 0.18 288.03);
  --font-sans: Inter, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0px 4px 10px 0px hsl(240 30% 25% / 0.06);
  --shadow-xs: 0px 4px 10px 0px hsl(240 30% 25% / 0.06);
  --shadow-sm: 0px 4px 10px 0px hsl(240 30% 25% / 0.12),
    0px 1px 2px -1px hsl(240 30% 25% / 0.12);
  --shadow: 0px 4px 10px 0px hsl(240 30% 25% / 0.12),
    0px 1px 2px -1px hsl(240 30% 25% / 0.12);
  --shadow-md: 0px 4px 10px 0px hsl(240 30% 25% / 0.12),
    0px 2px 4px -1px hsl(240 30% 25% / 0.12);
  --shadow-lg: 0px 4px 10px 0px hsl(240 30% 25% / 0.12),
    0px 4px 6px -1px hsl(240 30% 25% / 0.12);
  --shadow-xl: 0px 4px 10px 0px hsl(240 30% 25% / 0.12),
    0px 8px 10px -1px hsl(240 30% 25% / 0.12);
  --shadow-2xl: 0px 4px 10px 0px hsl(240 30% 25% / 0.3);
}

.dark {
  --background: oklch(0.17 0.02 283.8);
  --foreground: oklch(0.92 0.03 285.88);
  --card: oklch(0.23 0.04 282.93);
  --card-foreground: oklch(0.92 0.03 285.88);
  --popover: oklch(0.23 0.04 282.93);
  --popover-foreground: oklch(0.92 0.03 285.88);
  --primary: oklch(0.72 0.16 290.4);
  --primary-foreground: oklch(0.17 0.02 283.8);
  --secondary: oklch(0.31 0.07 283.46);
  --secondary-foreground: oklch(0.84 0.08 285.91);
  --muted: oklch(0.27 0.06 281.44);
  --muted-foreground: oklch(0.72 0.05 285.17);
  --accent: oklch(0.34 0.08 280.97);
  --accent-foreground: oklch(0.92 0.03 285.88);
  --destructive: oklch(0.69 0.21 14.99);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.33 0.06 282.58);
  --input: oklch(0.33 0.06 282.58);
  --ring: oklch(0.72 0.16 290.4);
  --chart-1: oklch(0.72 0.16 290.4);
  --chart-2: oklch(0.64 0.1 274.91);
  --chart-3: oklch(0.75 0.12 244.75);
  --chart-4: oklch(0.71 0.1 186.68);
  --chart-5: oklch(0.75 0.18 346.81);
  --sidebar: oklch(0.23 0.04 282.93);
  --sidebar-foreground: oklch(0.92 0.03 285.88);
  --sidebar-primary: oklch(0.72 0.16 290.4);
  --sidebar-primary-foreground: oklch(0.17 0.02 283.8);
  --sidebar-accent: oklch(0.34 0.08 280.97);
  --sidebar-accent-foreground: oklch(0.92 0.03 285.88);
  --sidebar-border: oklch(0.33 0.06 282.58);
  --sidebar-ring: oklch(0.72 0.16 290.4);
  --font-sans: Inter, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0px 4px 10px 0px hsl(240 30% 25% / 0.06);
  --shadow-xs: 0px 4px 10px 0px hsl(240 30% 25% / 0.06);
  --shadow-sm: 0px 4px 10px 0px hsl(240 30% 25% / 0.12),
    0px 1px 2px -1px hsl(240 30% 25% / 0.12);
  --shadow: 0px 4px 10px 0px hsl(240 30% 25% / 0.12),
    0px 1px 2px -1px hsl(240 30% 25% / 0.12);
  --shadow-md: 0px 4px 10px 0px hsl(240 30% 25% / 0.12),
    0px 2px 4px -1px hsl(240 30% 25% / 0.12);
  --shadow-lg: 0px 4px 10px 0px hsl(240 30% 25% / 0.12),
    0px 4px 6px -1px hsl(240 30% 25% / 0.12);
  --shadow-xl: 0px 4px 10px 0px hsl(240 30% 25% / 0.12),
    0px 8px 10px -1px hsl(240 30% 25% / 0.12);
  --shadow-2xl: 0px 4px 10px 0px hsl(240 30% 25% / 0.3);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
