---
const footerClass = 'hidden p-2 text-sm leading-normal text-footer md:block'
---

<footer class={footerClass}>
  Powered by
  <a
    href="https://astro.build/"
    title="Astro"
    target="_blank"
    rel="noopener noreferrer"
  >
    Astro
  </a>
</footer>
